<div class="welcome">
  <h1>Welcome <%= @user.username %></h1>
  <a href="/sign-out"><button class="btn btn-primmary">Sign Out</button></a>
</div>
<div class="streaks">
Current streak:
<%= user.correct_counter %>
Longest streak:
<%= user.longest_correct_streak %>
</div>
<% if @question_sets.count > 0 %>
  <h2>Question Sets</h2>
  <ul>
    <% @question_sets.each do |qset| %>
      <li><%= qset.name %></li>

        <% questions = @all_questions[qset.id] %>
        <% if questions.count > 0  %>
          <ol>
            <% questions.each do |q| %>
            <li><%= q.text %></li>
            <% end %>
          </ol>
        <% end %>
    <% end %>
  </ul>
<% else %>
  <p class="lead">no question sets created!</p>
<% end %>

<h2>create a question set</h2>
<form action="/create-qset" class="form-inline" method="POST" role="form">
  <div class="form-group" id="qset-form">
      <label class="col-sm-2 control-label" for="qset_name">Name: </label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="qset_name" id="qset_name" placeholder="biology">
        <input class="btn btn-primary" type="submit" value="create a question set">
      </div>
  </div>
</form>

<h2>create a question</h2>
<form action="/create-question" class="form-horizontal" method="POST" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="question_text">Question: </label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="question_text" id="question_text">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="answer">Answer: </label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="answer" id="answer">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="question_set">Question Set: </label>
    <div class="col-sm-10">
      <select name="question_set" id="" class="form-control">
        <% if @question_sets.count > 0 %>
          <% @question_sets.each do |qset| %>
            <option value="<%= qset.name %>"><%= qset.name %></option>
          <% end %>
        <% end %>
      </select>
      <!-- <input class="form-control" type="text" name="question_set" id="question_set"> -->
    </div>
  </div>
  <input class="btn btn-primary btn-lg btn-block block-submit" type="submit" value="Create Question">
</form>
