<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h3> Learn Online: Pick the Set </h3>
  </div>
  <div class="col-md-1"></div>
</div>
 <div id="templates">
    <script type="text/template" class="questionreplacer">
      <form action="/answeronline" method="post" class="formreplace" data-id={{questionset_id}}>
        <p class="infotouser">{{correct}}</p>
        <h2>{{question}}=?</h2>
        <p class="answer"><input type="text" placeholder="Answer:" name="answer"></p>
        <input type="hidden" name="questionsetid" value="{{questionset_id}}">
         <input type="hidden" name="questionid" value="{{question_id}}">
         <input type="submit" value="Submit">
      </form>
    </script>
  </div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
<%@question_sets.each do |set| %>
<a href="#" data-toggle="modal" data-target=".modal<%=set.id%>" class="linkme">
  <div class="col-md-4">
    <div class="qsetcards">
      <div class="title">
        <b><%=set.name%></b>
      </div>
      <div class="count">
        <%=@all_questions[set.id].count %>
        <% if @all_questions[set.id].count == 1 %>
          <%="Question"%>
        <% else %>
          <%= "Questions" %>
        <% end %>
        <div class="correct" data-id=<%=set.id%>>
          <%=@correct[set.id]%><%='%' if @correct[set.id] != 'Not Started' %><br>
        </div>
      </div>
    </div>
  </div>
</a>
<div class="modal modal<%=set.id%> fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" id="modal">
      <div class="replace" data-id = <%=set.id%>>
      <%if @all_questions[set.id].count > 0%>
      <form action="/answeronline" method="post" class="formreplace" data-id=<%=set.id%> >
        <h2><%=@all_questions[set.id].first.text%>=?</h2>
        <p id="answer"><input type="text" placeholder="Answer:" name="answer"></p>
        <input type="hidden" name="questionsetid" value="<%=set.id%>">
         <input type="hidden" name="questionid" value="<%=@all_questions[set.id].first.id%>">
         <input type="submit" value="Submit">
      </form>
      <%else %>
      There are no questions in this question set.
      <%end%>
    </div>
    </div>
  </div>
</div>

  <%end%>
  </div>
  <div class="col-md-1"></div>
</div>




<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="js/Robin.js"></script>
      <script>
       $('body').on('submit','form.formreplace', function(e){
          e.preventDefault();
          blue = $(this).serialize();
          $.post('/answeronline', blue, function(data){
             console.log(data);
             var template = $("#templates .questionreplacer").html();
             object = {correct: data['correct'], question: data['question'], questionset_id: data['questionset_id'], question_id: data['question_id'], percentage: data['percentage'] };
             var rendered_template = Robin.render(template, object);
             $('.replace[data-id=' +object.questionset_id+ ']').html(rendered_template);
             console.log(object.percentage);
             $('.correct[data-id=' +object.questionset_id+ ']').html(object.percentage+'%');
             });
        });
      </script>
